* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

button {
  border: none;
}

ul,
h1,
h2,
h3 {
  margin: 0;
}

p {
  color: #2A2B2F;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

body {
  margin: 0 auto;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  scroll-behavior: smooth;

  overflow-x: hidden;
  max-width: 1440px;
}

.main {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.main-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1059px;
  margin-bottom: 54px;
}

.main-description__title {
  font-size: 70px;
  margin-bottom: 24px;
  font-weight: 900;
}

.main-description__text {
  margin-top: 0px;
  margin-bottom: 40px;
  max-width: 750px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  
  line-height: 25.2px;
}

.button-request {
  padding: 20px 93.5px;
  background-color: #0146fe;
  color: white;
  font-size: 20px;
  border-radius: 12px;
  max-width: 366px;
  margin-bottom: 80px;
}

/* solution block */

.solution {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 100px;
  margin-right: 100px;
}

.solution__title {
  font-size: 60px;
  max-width: 681px;
  margin-bottom: 24px;
  font-weight: 900;
}

.solution__text {
  max-width: 750px;
  margin-top: 0;
  margin-bottom: 70px;
  text-align: center;
  line-height: 25.2px;
}

/* solution block */
/* cards */

.solution-cards {
  display: flex;
  max-width: 1240px;

  column-gap: 20px;
  margin-bottom: 64px;
}

.solution-card {
  border: 2px solid rgba(0, 0, 0, 0.04);
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.solution-card__title {
  font-size: 34px;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 900;
}

.solution-card__text {
  text-align: center;
  margin-bottom: 16px;
  line-height: 25.2px;
}

.solution-card__img {
  width: 368px;
  height: 245px;
}

.customers {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  align-items: center;
}

.customers__title {
  max-width: 800px;
  text-align: center;
  font-size: 60px;
  margin-bottom: 32px;
  font-weight: 900;
}

.customers__text {
  max-width: 810px;
  text-align: center;
  margin-bottom: 64px;
  line-height: 20px;
  line-height: 25.2px;
}

.customers__buttons {
  display: flex;
  column-gap: 16px;
  justify-content: center;
  margin-bottom: 32px;
}

.customers__buttons_organization,
.customers__buttons_employees,
.customers__buttons_travelers {
  padding-top: 16px;
  padding-left: 32px;
  padding-bottom: 16px;
  padding-right: 32px;
  border-radius: 10px;
  background-color: #f4f6fd;
  font-size: 18px;
  font-weight: 600;
}

.customers__buttons_active {
  background-color: #0146fe;
  color: white;
}

/* customers__card */

.customers-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
  height: 560px;
}

.customers-card {
  width: 1137px;
  height: 422px;

  grid-template-areas:
    "cardTitle cardImg"
    "cardText cardImg";

  padding: 42px;
  border: 2px solid rgba(0, 0, 0, 0.04);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.04);
  border-radius: 40px;

  top: 82px;
  background-color: white;

  display: none;
}

.customers-card_active {
  display: grid;
  position: absolute;
  z-index: 3;
}

.customers-card__title {
  grid-area: cardTitle;
  font-size: 60px;
  font-weight: 900;
}

.customers-card_organization-list {
  grid-area: cardText;
}

.customers-card__img {
  grid-area: cardImg;
}

.customers-card__text {
  line-height: 20px;
  line-height: 25.2px;
}

/* frame */

.frame {
  border: 2px solid rgba(0, 0, 0, 0.04);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  background-color: white;
}

.frame-big {
  width: 1042px;
  height: 386px;

  top: 145px;

  position: absolute;
  z-index: 2;
}

.frame-small {
  width: 973px;
  height: 361px;
  top: 199px;
  position: absolute;
  z-index: 1;
}


/* help */

.help {
  width: 100vw;
  padding-top: 64px;
  text-align: center;
  background: #F4F6FD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.help__item {
  display: flex;
  flex-direction: column;
  align-items: center; 
  max-width: 295px; 
}

.help__title {
  font-size: 60px;
  margin-bottom: 70px;
  font-weight: 900; 
}

.help__item-title {
  font-size: 34px;
  margin-bottom: 14px;
  letter-spacing:-0.5px;
  font-weight: 900;
  
}

.help__item-text {
  letter-spacing: 1px;
  line-height: 25.2px;
  padding-left: 20px;
  padding-right: 20px;
}



.help__list {
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  column-gap: 16px;
  row-gap: 56px;
}



.help__item-img {
  margin-bottom: 14px;
}



@media (max-width: 1439.98px) {
  .solution-cards {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }

  .solution-card {
    width: 700px;
    height: 400px;
  }

  .customers-cards {
    max-width: 750px;
  }

  .customers-card {
    gap: 10px;
    top: 80px;
    max-width: 750px;
  }

  .customers-card__title {
    font-size: 40px;
  }

  .customers-card__img {
    width: 304px;
    height: 202px;
    align-self: center;
  }

  .frame-big {
    width: 700px;
    top: 150px;
  }

  .frame-small {
    width: 650px;
    top: 200px;
  }

  .customers__text {
    max-width: 600px;
  }
}

@media (max-width: 767.98px) {
  body {
    font-size: 16px;
  }

  .main-description__title,
  .solution__title,
  .customers__title {
    font-size: 30px;
  }

  .customers {
    padding-top: 20px;
  }

  .customers__buttons {
    column-gap: 5px;
  }

  .customers-card__text {
    line-height: 20px;
  }

  .solution {
    max-width: 375px;
  }

  .solution-card {
    max-width: 360px;
    height: 300px;
  }

  .solution-card__title {
    font-size: 30px;
  }

  .solution__text {
    margin-bottom: 30px;
  }

  .solution-card__img {
    width: 220px;
    height: 147px;
  }

  .customers-cards {
    max-width: 400px;
  }

  .customers-card {
    top: 80px;
    max-width: 320px;
  }

  .customers-card {
    padding: 20px;
  }

  .customers-card__title {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .customers-card_organization-list {
    margin-bottom: 10px;
  }

  .customers-card__img {
    width: 190px;
    height: 127px;
  }

  .frame-big {
    width: 300px;
    top: 140px;
  }

  .frame-small {
    width: 280px;
    top: 190px;
  }

  .customers__text {
    max-width: 360px;
    margin-bottom: 20px;
  }

  .customers__buttons_organization,
  .customers__buttons_employees,
  .customers__buttons_travelers {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
  }

  .customers-card_active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .help {
    padding-left: 0px;
    padding-right: 0px;
  }

  .help__title {   
    font-size: 30px;
    padding-left: 8px;
    padding-right: 8px;
    
  }

  .help__item-title {
    font-size: 30px;
  }

  .help__list {
    padding-left: 0px;
    padding-right: 0px;
  }
}
